@mixin reset{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

@mixin parrafo{
    p{
    text-align: justify;
    color: rgb(252, 252, 252);
    font-size: 1rem;
    margin: 0 1%;
    padding: 1% ;
   

    }
     
}


@mixin body{
    body{
        height: 200vh;;
        display: grid;
        grid-template-rows: 0.25fr repeat(2,1fr) 0.5fr;
        grid-template-columns:0.1fr repeat(2,1fr) ;
        grid-template-areas: 
        "header header header"
        "nav main main"
        "nav main main"
        "footer footer footer"
        ;
    }
}
@mixin responsive($medida: 480px){
    @media screen and (max-width: $medida) {
        @content;
    }
}

@mixin responsivetablet($medida: 768px){
    @media screen and (max-width: $medida) {
        @content;
    }
}

@mixin flexbox {
      
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 0;
        }   
    
  @mixin galeria{
    
        grid-area: maingaleria;
        font-family: 'Montserrat', sans-serif;
        margin: 0 0;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "section11 section22"
        "section33 section44";
    
  }

  @mixin box{
    background-color: rgb(133, 235, 246);
    border: 2px solid rgb(119, 8, 136);
    grid-area: section11;
    text-align: center;
    margin: 5% 5%;
    padding: 5%;
  }

  @mixin box2{
    background-color: rgb(133, 235, 246);
    border: 2px solid rgb(119, 8, 136);
    grid-area: section22;
    text-align: center;
    margin: 5% 5%;
    padding: 5%;
  }

  @mixin box3{
    background-color: rgb(133, 235, 246);
    border: 2px solid rgb(119, 8, 136);
    grid-area: section33;
    text-align: center;
    margin: 5% 5%;
    padding: 5%;
  }

  @mixin box4{
    background-color: rgb(133, 235, 246);
    border: 2px solid rgb(119, 8, 136);
    grid-area: section44;
    text-align: center;
    margin: 5% 5%;
    padding: 5%;
  }